<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>Gimnasio - Coming Soon</title>
	<meta charset="utf-8">
	<meta name="keywords" content="Gimnasio, Fitness Template, Gym Template" />
    <meta name="description" content="Help For Ideal Body Fitness. With our professional trainers, we will guide you with the best program to help you get a healthy body." />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- FavIcon Link -->
	<link rel="icon" href="assets/images/favicon.png" type="image/gif" sizes="16x16">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

	<!-- Bootstrap CSS Link -->
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <!-- Swiper Slider CSS Link -->
	<link rel="stylesheet" type="text/css" href="assets/css/swiper-bundle.min.css">

	<!-- Wow Animation CSS Link -->
	<link rel="stylesheet" type="text/css" href="assets/css/animate.css">

	<!-- Main Style CSS Link -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>
<body class="fixed">
<div class="bg-animate">
    <span class="shape-1 animate-this"></span>
    <span class="shape-2 animate-this"></span>
    <span class="shape-3 animate-this"></span>
    <span class="shape-4 animate-this"></span>
    <span class="shape-5 animate-this"></span>
    <span class="shape-6 animate-this"></span>
</div>
<div class="main">

    <!-- Loader Start -->
    <div class="loader-box">
        <div class="loader">
            <div class="dot-1"></div>
            <div class="dot-2"></div>
            <div class="dot-3"></div>     
        </div>
    </div>
    <!-- Loader End -->

    <div class="main-coming-soon">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="coming-soon-content">
                        <h1 class="coming-soon-title">Coming Soon</h1>
                        <p>Our website is under construction. We'll be here soon with our new creative website, subscribe to be notified.</p>
                        <div class="countdown" data-date="02-05-2023" data-time="00:00">
                            <div class="countdown-box day"><span class="num"></span><span class="word"></span></div>
                            <div class="countdown-box hour"><span class="num"></span><span class="word"></span></div>
                            <div class="countdown-box min"><span class="num"></span><span class="word"></span></div>
                            <div class="countdown-box sec"><span class="num"></span><span class="word"></span></div>
                        </div>
                        <div class="subscribe-from">
                            <form>
                                <div class="form-box">
                                    <input type="email" name="email" placeholder="Email Address..." required>
                                    <button type="submit" class="sec-btn"><span>Subscribe</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Jquery JS Link -->
<script src="assets/js/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JS Link -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/popper.min.js"></script>

<!-- Swiper Slider JS Link -->
<script src="assets/js/swiper-bundle.min.js"></script>

<!-- Font Awesome JS Link -->
<script src="assets/js/font-awesome.min.js"></script>

<!-- Wow Animation JS Link -->
<script src="assets/js/wow.min.js"></script>

<!-- Custom JS Link -->
<script src="assets/js/custom.js"></script>
<script src="assets/js/coming-soon.js"></script>

</body>
</html>